@tailwind base;
@tailwind components;
@tailwind utilities;

/* Catppuccin Macchiato base styles */
@layer base {
  html {
    background-color: #24273a;
    /* ctp-base */
    color: #cad3f5;
    /* ctp-text */
  }

  body {
    background-color: #24273a;
    /* ctp-base */
    color: #cad3f5;
    /* ctp-text */
  }
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}